footer{
  padding: 50px 0;
  background-color: #00000024;
}
footer .wrap{   
  font-size: 14px;
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 0 auto;
  padding: 20px 0;
}
footer section.top{
  
  display: flex;
  align-items: center;
  width: 60%;
  margin: 20px 0;
  margin-left: -10%;
}
footer h1{
  position: absolute;
  left: -120px; 
  top: 50px;
}
footer h1 a{
  background: url(../img/hanjikkal_logo.png) no-repeat;
  width: 300px;
  height: 60px;
  display: block;
  font-size: 0;
  background-size: 100%;
  transition: all 0.3s;
}
footer h1 a:hover {
  width: 333px;
  height: 66px;
}
footer ul.fnb{    
  display: flex;
  gap: 20px;
  width: 60%;
}
footer ul.fnb li{
    
}
footer ul.fnb li a{
  
  letter-spacing: 1px;
  font-size: 16px;
}
footer ul.fnb li a:hover{
  text-decoration: underline;
  background-color: #099ebb1f;
  border-radius: 3px;
}
footer ul.sns{
  font-size: 0;
  display: flex;
  transform: translateX(350px); 
}
footer ul.sns li{
  
  padding: 0 10px;
}
footer ul.sns li a{
  color: #fff;
}
footer ul.sns li:nth-child(1) a{
  background: url(../img/facebook.png) no-repeat;
  width: 35px;
  height: 35px;
  display: block;
  background-size: 90%;
  transition: all 0.3s;
}
footer ul.sns li:nth-child(2) a{
  background: url(../img/twitter.png) no-repeat;
  width: 35px;
  height: 35px;
  display: block;
  background-size: 90%;
  transition: all 0.3s;
}
footer ul.sns li:nth-child(n) a:hover{
  background-size: 100%;
  transform: rotate(15deg);
}
footer section.bottom{
  display: flex;
  width: 70%;
  font-size: 16px;
  line-height: 2;
  gap: 20px;
}
footer section.bottom div{
  display: flex;
  justify-content: space-between;
  width: 37%;
}
footer address{
  
}
footer address:hover{
  text-decoration: underline;
  background-color: #099ebb1f;
  border-radius: 3px;
}
footer p.tel{
  
}
footer p.tel:hover{
  text-decoration: underline;
  background-color: #099ebb1f;
  border-radius: 3px;
}
footer p.copyright{
  
}
footer p.copyright:hover {
  text-decoration: underline;
  background-color: #099ebb1f;
  border-radius: 3px;
}
footer select{
  cursor: pointer;
  padding: 5px;
  transform: translateX(60px);
  font-size: 16px;
  height: 33px;
}
footer select option{
  
} 